aiofiles==24.1.0
aiohttp==3.11.11
altair==5.5.0
fastavro==1.10.0
google-auth==2.37.0
httpx==0.27.2
langchain-core==0.3.33
litellm==1.57.8
numpy==1.26.4
openai==1.59.6
pandas>=2.0.0,<3.0.0
pydantic==2.10.5
python-dotenv==1.0.1
requests==2.32.3
runway-python==0.10.0
streamlit==1.41.1
