streamlit==1.41.1
pandas==2.2.3
runwayml
aiohttp==3.11.11
google-auth==2.37.0
googleapis-common-protos==1.66.0
pydantic==2.10.5
python-dotenv==1.0.1
requests==2.32.3
langchain-core==0.3.33
langgraph==0.2.69
